.notes_container {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .notes_container {
    justify-content: center;
    gap: 0.4rem;
  }
}
